html, body {
    width: 100%;
    height: 100%;
} 

.country {
    position: fixed;
    text-align: center; 
}

.south-africa-map{
    padding-left: 36%;
    padding-top: 5%;
}

a path:hover {
    fill: red;
    cursor: pointer;
}

/* modal */
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

#mine-detail {
    display: none;
}

#mine-detail h2 {
    text-align: center;
}

  /* maps */
  #map {
    /* background-color: purple; */
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .map-message {
    z-index: 999;
    position: fixed;
    padding-left: 28%;
    padding-top: 10%;
  }

  /* gallery */
  #gallery {
    text-align: center;
}

  #gallery img {
      width: 200px;
      height: 200px;
  }

  footer {
    position: fixed;
    bottom: 0%;
  }